<div class="myContainer my-16 p-4 flex flex-wrap items-center">

    <!-- Image -->
    <div class="w-5/12 max-[900px]:w-full">
        <img class="mx-auto" src="assets/img/company-image.jpg" alt="company image">
    </div>

    <!-- Info -->
    <div class="w-7/12 max-[900px]:w-full max-[900px]:px-8">
        <h3 class="text-2xl text-fontPrimary font-semibold">About Company Realco</h3>
        <p class="my-4 text-xl text-fontPrimary">Realco</p>
        <p class="text-fontSecondary leading-7">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, tenetur. Ratione esse officiis itaque nesciunt saepe quod quas eligendi explicabo vitae et velit exercitationem tempore corporis numquam, minus facilis illum ut, repellendus, magni dolorum enim tempora! Tempora natus inventore, beatae saepe cupiditate aspernatur? Repellat magni dicta temporibus blanditiis velit, facere necessitatibus sapiente maiores architecto illo optio deserunt eius maxime earum hic ea ut provident libero? Et laborum delectus sit architecto quam? Odio debitis eum cupiditate, non velit quos voluptatibus? Exercitationem quos laboriosam sunt quisquam nihil voluptatem architecto? Rerum vero magni voluptatem ad! Totam blanditiis soluta id, deserunt reprehenderit ipsam maiores.
        </p>
    </div>

    <!-- Other details block -->
    <div class="w-full mt-10 flex justify-center gap-8 max-[750px]:flex-wrap">
        <div class="w-60 py-3 flex justify-center gap-x-2 border border-fontSecondary">
            <img width="40px" src="assets/img/document.png" alt="document image">
            <div>
                <h1 class="font-bold text-xl text-fontPrimary">3000</h1>
                <p class="font-semibold text-[10px] text-fontSecondary uppercase">More than 3000 clients</p>
            </div>
        </div>
        <div class="w-60 py-3 flex justify-center gap-x-2 border border-fontSecondary">
            <img width="40px" src="assets/img/document.png" alt="document image">
            <div>
                <h1 class="font-bold text-xl text-fontPrimary">6</h1>
                <p class="font-semibold text-[10px] text-fontSecondary uppercase">product guarantee 6 month</p>
            </div>
        </div>
        <div class="w-60 py-3 flex justify-center gap-x-2 border border-fontSecondary">
            <img width="40px" src="assets/img/document.png" alt="document image">
            <div>
                <h1 class="font-bold text-xl text-fontPrimary">10</h1>
                <p class="font-semibold text-[10px] text-fontSecondary uppercase">More than 10 products</p>
            </div>
        </div>
    </div>

</div>