<div>
    <!-- First block -->
    <div class="flex flex-wrap">

        <!-- Left side - Info block -->
        <div class="w-1/2 flex justify-around items-center max-[800px]:w-full max-[800px]:mt-8">
            <div class="w-96 h-60 flex flex-col gap-4">
                <p class="w-fit py-[2px] px-3 rounded-xl bg-[#E7E8E3] text-fontPrimary text-xs">
                    Comfort first
                </p>
                <h1 class="text-fontPrimary text-[44px] leading-[50px] font-bold">
                    The best houses for family comfort
                </h1>
                <p class="text-fontSecondary">
                    Ectus ipsum faucibus justo, et semper quam nisl in nibh. Proin sollicitudin, lorem non posuere blandit.
                </p>
            </div>
        </div>

        <!-- Right side - Image section -->
        <div class="w-1/2 p-8 max-[800px]:w-full">
            <div 
              class="w-full rounded-3xl" 
              style="height:calc(100vh - 64px); background-image: url('assets/img/furniture-one.png');  background-size: cover; background-position: center"
            >
          </div>
        </div>
    </div>

    <!-- Second block -->
    <div class="flex flex-wrap">

        <!-- Left side - Image section -->
        <div class="w-1/2 p-8 max-[800px]:w-full max-[800px]:order-2">
            <div 
              class="w-full rounded-3xl" 
              style="height:calc(100vh - 64px); background-image: url('assets/img/furniture-two.png');  background-size: cover; background-position: center"
            >
          </div>
        </div>

        <!-- Right side - Info block -->
        <div class="w-1/2 flex justify-around items-center max-[800px]:w-full max-[800px]:mt-8">
            <div class="w-96 h-fit flex flex-col gap-4">
                <p class="w-fit py-[2px] px-3 rounded-xl bg-[#E7E8E3] text-fontPrimary text-xs">
                    Quick and easy
                </p>
                <h1 class="text-fontPrimary text-[44px] leading-[50px] font-bold">
                    Fast forward process
                </h1>
                <p class="text-fontSecondary">
                    Ut vitae nisi eu nisi maximus condimentum ac id purus. Duis sit amet mi arcu praesent nec felis nisl.
                </p>
                <div class="flex justify-between">
                    <div class="w-44 h-40 px-2 py-2 flex flex-col gap-y-2 text-start rounded-2xl">
                        <img src="assets/icons/money.png" class="w-9 h-9 mr-auto" alt="price image">
                        <h2 class="text-fontPrimary font-bold text-[20px]">Affordable prices</h2>
                        <p class="text-fontSecondary text-[11px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in.</p>
                    </div>
                    <div class="w-44 h-40 px-2 py-2 flex flex-col gap-y-2 text-start rounded-2xl">
                        <img src="assets/icons/paper.png" class="w-9 h-9 mr-auto" alt="price image">
                        <h2 class="text-fontPrimary font-bold text-[20px]">Less paper work</h2>
                        <p class="text-fontSecondary text-[11px]">Curabitur porta luctus semper donec eget lobortis leo ac finibus nisi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>