<div class="w-[680px] h-[400px] m-auto px-10 relative m-[650px]:w-[390px] m-[650px]:h-[220px]">
  <!-- Carousel -->
    <div class="w-[600px] overflow-hidden m-[650px]:w-[350px]">
      <ul 
        id="slider"
        class="m-0 p-0 w-[1800px] relative left-0" 
        style="list-style:none; transition: left 0.5s"
      >
        <li class="float-left">
          <img class="w-[600px] h-[400px] m-[650px]:w-[350px] m-[650px]:h-[220px]" src="assets/img/cards/card-1.png">
        </li>
        <li class="float-left">
          <img class="w-[600px] h-[400px] m-[650px]:w-[350px] m-[650px]:h-[220px]" src="assets/img/cards/card-2.png">
        </li>
        <li class="float-left">
          <img class="w-[600px] h-[400px] m-[650px]:w-[350px] m-[650px]:h-[220px]" src="assets/img/cards/card-3.png">
        </li>
      </ul>
    </div>
    <!-- Previous and Next buttons -->
    <button class="prev absolute left-0 top-[50%]">
      <img class="w-10 m-[650px]:w-5" src="assets/icons/left.svg" alt="left">
    </button>
    <button class="next absolute right-0 top-[50%]">
      <img class="w-10 m-[650px]:w-5" src="assets/icons/right.svg" alt="right">
    </button>
</div>
    