<div class="myContainer my-16">

    <!-- Top - Info -->
    <div class="w-[650px] my-8 mx-auto max-[750px]:w-11/12 text-center">
        <h1 class="text-fontPrimary text-[40px] font-bold mb-2">
            {{ 'sections.ourPartners.ourPartners' | translate }}
        </h1>
        <p class="text-fontSecondary">
            {{ 'sections.ourPartners.trustedCompanies' | translate }}
        </p>
    </div>

    <!-- Partners Logo -->
    <div class="flex justify-around">
        <img class="max-[500px]:w-1/4" src="assets/img/partner-logo.png" alt="partner logo">
        <img class="max-[500px]:w-1/4" src="assets/img/partner-logo.png" alt="partner logo">
        <img class="max-[500px]:w-1/4" src="assets/img/partner-logo.png" alt="partner logo">
    </div>
</div>
