<footer>
    <!-- Top block -->
    <div class="myContainer px-16 pt-8 pb-16 flex flex-wrap gap-y-8 justify-between max-[700px]:px-4">

        <!-- Logo -->
        <div class="w-1/4 h-fit flex gap-x-2 cursor-pointer max-[700px]:w-1/2">
            <img src="assets/img/logo.png" alt="logo">
            <span class="text-fontPrimary text-lg leading-8 font-semibold">Realco</span>
        </div>

        <!-- Main menu -->
        <ul class="w-1/4 flex flex-col gap-y-5 text-sm max-[700px]:w-1/2">
            <li>
                <h3 class="text-xl">{{ 'header.pages' | translate }}</h3>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#home">{{ 'header.home' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#about">{{ 'header.aboutCompany' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#products">{{ 'header.products' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#contact">{{ 'header.contact' | translate }}</a>
            </li>
        </ul>

        <!-- Main menu -->
        <ul class="w-1/4 flex flex-col gap-y-5 text-sm max-[700px]:w-1/2">
            <li>
                <h3 class="text-xl">{{ 'header.pages' | translate }}</h3>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#home">{{ 'header.home' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#about">{{ 'header.aboutCompany' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#products">{{ 'header.products' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#contact">{{ 'header.contact' | translate }}</a>
            </li>
        </ul>

        <!-- Main menu -->
        <ul class="w-1/4 flex flex-col gap-y-5 text-sm max-[700px]:w-1/2">
            <li>
                <h3 class="text-xl">{{ 'header.pages' | translate }}</h3>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#home">{{ 'header.home' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#about">{{ 'header.aboutCompany' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#products">{{ 'header.products' | translate }}</a>
            </li>
            <li class="hover:text-btnColor duration-300">
                <a href="#contact">{{ 'header.contact' | translate }}</a>
            </li>
        </ul>

    </div>

    <!-- Bottom block -->
    <div class="px-16 py-4 bg-bgColor max-[700px]:px-4">

        <div class="myContainer flex justify-between">

            <!-- Company text -->
            <p class="w-fit text-sm text-fontSecondary">
                © Realco by Minimal Square
            </p>

            <!-- Social medias -->
            <ul class="flex gap-x-2">
                <li><a href="#"><img src="assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="assets/icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="assets/icons/linkedin.svg" alt="linkedin"></a></li>
            </ul>

        </div>

    </div>

</footer>